OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=qwen3:4b
EMBED_MODEL=nomic-embed-text
CHROMA_DIR=./chroma_db


# OLLAMA_BASE_URL=http://localhost:11434
# LLM_MODEL=llama3:latest
# EMBED_MODEL=llama3:latest
# CHROMA_DIR=./chroma_db
# PORT=8080